/*-----------------------------------------------------------------------------------*/
/* Grid
/*-----------------------------------------------------------------------------------*/

.wrapper {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: ($spacer);
	padding-right: ($spacer);
}