/*-----------------------------------------------------------------------------------*/
/* Typography
/*-----------------------------------------------------------------------------------*/

body {
	color: $default-font-color;
	font-family: $default-font-family;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	line-height: $default-line-height;
}

::selection {
	background: $black;
	color: $white;
}

::-moz-selection {
	background: $black;
	color: $white;
}

a {
	color: $default-link-color;
	text-decoration: none;

	&:hover {
		color: $default-link-color-hover;
	}

	&::selection {
		background: $black;
		color: $white;
	}

	&::-moz-selection {
		background: $black;
		color: $white;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: $default-heading-weight;
	line-height: $default-heading-line-height;
	margin: 0 0 ($spacer) 0;
}

h1,
.h1 {
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
}

h3,
.h3 {
	font-size: $font-size-h3;
}

h4,
.h4 {
	font-size: $font-size-h4;
}

h5,
.h5 {
	font-size: $font-size-h5;
}

h6,
.h6 {
	font-size: $font-size-h6;
}

blockquote,
ol,
p,
table,
ul {
	margin: 0 0 ($spacer) 0;
}

ol,
ul {

	ol,
	ul {
		margin-top: ($spacer / 2);
		margin-bottom: 0;
	}

	li {
		margin: 0 0 ($spacer / 2) 0;
		padding: 0;
	}
}

pre {
	white-space: normal;
}

b,
strong {
	font-weight: $font-weight-bold;
}